<header class="home-header">
	<h1>B.O.B.</h1>
	<h4>best of buddies</h4>
</header>
<!-- `say hello there` -->
<!-- `say what is your name` -->
<!-- Put form here --><!-- 
`say hi #{@name_user}`
`say my name is bob`
`say what would you like to talk about?`
`clear` -->
<form action="/" method="POST">
	<input type="text" name="name" />
	<input type="submit" />
</form>
