<div class="box">
	<h5>What is your name?</h5>
	<form action="/" method="POST">
		<input class="u-full-width" type="text" name="name" />
		<input class="u-full-width button-primary" type="submit" />
	</form>
</div>
